<div class="p-5 c-container">
    <div *ngIf="artical">
      <h3>{{ artical.title }}</h3>
      <p>{{ artical.content }}</p>
    </div>
  
    <hr>
    
    <div class="pb-2">
      <h1>留言板</h1><br>
      <div *ngFor="let eachCommand of allCommand">
        <h3>{{ eachCommand.title }}</h3>
        <div>{{ eachCommand.content }}</div><br>
        <p class="alert alert-info">by {{ eachCommand.name }} &nbsp;{{ eachCommand.date | date:'medium'}}</p>
        <hr>
      </div>
    </div>
  
    <app-command-form (addCommand)="addCommand($event)"></app-command-form>

  </div>