<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">文章列表</a>
    </div>
    <ul class="nav navbar-nav">
      
      
      <li class="" *ngIf="readLocalStorageValue(); else loginButton">
        <a (click)="logout()">登出</a>
      </li>
      <ng-template #loginButton>
        <li class=""><a [routerLink]="['/login']">登入</a></li>
      </ng-template>

      <li class="active" *ngIf="readLocalStorageValue(); else visitor"><a>{{ visitor_name }} 你好</a></li>
      <ng-template #visitor  class="active">
        <li class="active"><a>訪客 你好</a></li>
      </ng-template>
      
    </ul>
  </div>



  <!-- <a [routerLink]="['/']"><h1>Home</h1></a>

  <a>
    <div>
        <div *ngIf="readLocalStorageValue(); else visitor"><h1>{{ visitor_name}} 你好</h1></div>
        <ng-template #visitor  >
          <h1>訪客 你好</h1>
        </ng-template>
    </div>
  </a>

  <div *ngIf="readLocalStorageValue(); else loginButton">
    <button (click)="logout()" class="button fancy-button">登出</button>
  </div>
  <ng-template #loginButton>
    <a [routerLink]="['/login']" class="button fancy-button">
      登入
    </a>
  </ng-template> -->

</div>